/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/background.png) no-repeat left top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:0px;
    top:0px;
    height:100%;                   /* text area height */
    width: 100%;                   /* text area width */
    border: solid 2px red;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}





.searchbox {
position:absolute;
    top:-46px;
height:44px;
z-index:100;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,rgba(255,255,255,0.15)),color-stop(100%,rgba(255,255,255,0))),-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#92a3b9),color-stop(50%,#7f93ad),color-stop(51%,#768ba7),color-stop(100%,#6d83a1));
	background-image:-webkit-linear-gradient(rgba(255,255,255,0.15),rgba(255,255,255,0)),-webkit-linear-gradient(top,#92a3b9,#7f93ad 50%,#768ba7 51%,#6d83a1);
	background-image:linear-gradient(rgba(255,255,255,0.15),rgba(255,255,255,0)),linear-gradient(top,#92a3b9,#7f93ad 50%,#768ba7 51%,#6d83a1);
	-webkit-box-shadow:rgba(255,255,255,0.3) 0 1px 0 inset;
	box-shadow:rgba(255,255,255,0.3) 0 1px 0 inset
border-top:solid 1px #95a5bc;
border-bottom:solid 1px #2d3642;
width:100%;
margin:0;
-webkit-transition: all 1s ease-out;
-webkit-transition-duration: 0.3s;
}
.searchbox form {
	position: relative;
	height:26px;
	-webkit-border-image:url(img/searchfield.png) 4 14 1 24;
	display:block;
	border-width:4px 14px 1px 24px;
	margin: 7px 80px 0 8px ; 
}

.searchbox input[type="search"]{
position:relative;
border:0;
-webkit-appearance:none;
height:18px;
float:left;
font-size:16px;
top:3px;
left:6px;
padding:0;
}


.searchbox input[type="search"]{
width:100%;
}

#search:focus{outline: none;}	

.searchbox #x{
	position: absolute;
	z-index: 20;
	right: -8px;
	top: 2px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	font-size: 17px;
	line-height: 14px;
	background: #b3b3b3;
	height: 20px;
	width: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	cursor:pointer;
	display:none;
}
#my_button{
	position:absolute;
	font-family:"Helvetica Neue",Helvetica;
	overflow:hidden;
	width:auto;
	height:29px;
	font-size:12px;
	font-weight:bold;
	line-height:29px;
	text-overflow:ellipsis;
	text-decoration:none;
	white-space:nowrap;
	background:none;
	bottom:6px;
	right:10px;
	margin:0;
	padding:0 10px;
	color:white;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
	-webkit-box-shadow:rgba(255,255,255,0.2) 0 1px 0,rgba(0,0,0,0.2) 0 1px 2px inset;
	box-shadow:rgba(255,255,255,0.2) 0 1px 0,rgba(0,0,0,0.2) 0 1px 2px inset;
	border: 1px solid rgba(0, 0, 0, .4);
	-webkit-border-radius:5px;
	border-radius:5px;
	background-image:none;
	background-color:#50709a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.2)), color-stop(50%,rgba(44,44,44,0.2)), color-stop(51%,rgba(0,0,0,0.2)), color-stop(100%,rgba(19,19,19,0.2)));
background: -webkit-linear-gradient(top, rgba(76,76,76,0.2) 0%,rgba(44,44,44,0.2) 50%,rgba(0,0,0,0.2) 51%,rgba(19,19,19,0.2) 100%);
	background: linear-gradient(top, rgba(76,76,76,0.2) 0%,rgba(44,44,44,0.2) 50%,rgba(0,0,0,0.2) 51%,rgba(19,19,19,0.2) 100%);
}
#my_button.active{
	border-color:#243346;
	background-image:none;
	background-color:#476489;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#6b89b2),color-stop(50%,#50709a),color-stop(51%,#476489),color-stop(100%,#3e5779));
	background-image:-webkit-linear-gradient(top,#6b89b2,#50709a 50%,#476489 51%,#3e5779);
	background-image:linear-gradient(top,#6b89b2,#50709a 50%,#476489 51%,#3e5779);
	color:white;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
}