/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
	font-weight:bold;
}

a:visited {
    color: #00e;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Ryan's custom styles
   ========================================================================== */

  
 .loader {
 width:100%;
 padding:24px 12px;
 display:none;
 border-bottom:1px solid #eeeeee;
 }
 
.loader p {
text-align:center;
font-size:14px;
color: #2e7cbf;
 }
 .loader p span.offset{
 margin-right:10px;
 }
.loader p span.loader-image::before {
content: url('../img/loader-24x24.gif');
content: -webkit-image-set(../img/loader-24x24.gif) 1x, url(../img/loader-24x24@2x.gif) 2x);
}
.loader p span.loader-message{
font-weight:bold;
font-size:14px;
margin-left: 20px;
position: relative;
top: -4px;
}



 
#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}


  
/* ++++++++++++++++++++BUTTONS++++++++++++++++++ */
.rb-btn
{
 width:100%;  
 -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px ;
-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3) ;
box-shadow: 0px 1px 4px rgba(0, 0, 0, .3) ; 
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
border: 1px solid #F0F0F0;
font-weight: bold;
color: white !important;
text-decoration:none !important;
display: block;
text-align: center;
cursor: pointer;
position: relative;
margin: 20px 0 0;
padding: 0;
background: #5b5b5b;
padding: 12px 0px;
font-size:16px;
}

.rb-btn.green{
text-shadow: 0 1px 0 #136600;
background-image: -webkit-gradient(linear, left top, left bottom, from( #48B201), to( #188100));
background-image: -webkit-linear-gradient( #48B201, #188100);
background-image: -moz-linear-gradient( #48B201, #188100);
background-image: -ms-linear-gradient( #48B201, #188100);
background-image: -o-linear-gradient( #48B201, #188100);
background-image: linear-gradient( #48B201, #188100);
}

.rb-btn.blue{
background: #2d7bbf ;
text-shadow: 0 1px 0 #0033a0;
background-image: -webkit-gradient(linear, left top, left bottom, from( #2d7bbf), to( #0033a0));
background-image: -webkit-linear-gradient( #2d7bbf, #0033a0);
background-image: -moz-linear-gradient( #2d7bbf, #0033a0);
background-image: -ms-linear-gradient( #2d7bbf, #0033a0);
background-image: -o-linear-gradient( #2d7bbf, #0033a0);
background-image: linear-gradient( #2d7bbf, #0033a0);
}

.rb-btn.red{
background: #FB6241 /*{e-bhover-background-color}*/;
text-shadow: 0 /*{e-bup-shadow-x}*/ 1px /*{e-bup-shadow-y}*/ 0 /*{e-bup-shadow-radius}*/ #B30511 /*{e-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #FB6241 /*{e-bup-background-start}*/), to( #AD2205 /*{e-bup-background-end}*/));
background-image: -webkit-linear-gradient( #FB6241 /*{e-bup-background-start}*/, #AD2205 /*{e-bup-background-end}*/);
background-image: -moz-linear-gradient( #FB6241 /*{e-bup-background-start}*/, #AD2205 /*{e-bup-background-end}*/);
background-image: -ms-linear-gradient( #FB6241 /*{e-bup-background-start}*/, #AD2205 /*{e-bup-background-end}*/);
background-image: -o-linear-gradient( #FB6241 /*{e-bup-background-start}*/, #AD2205 /*{e-bup-background-end}*/);
background-image: linear-gradient( #FB6241 /*{e-bup-background-start}*/, #AD2205 /*{e-bup-background-end}*/);
}

.rb-btn.maroon{
background: #B9012F /*{g-bup-background-color}*/;
text-shadow: 0 /*{g-bup-shadow-x}*/ 1px /*{g-bup-shadow-y}*/ 0 /*{g-bup-shadow-radius}*/ #AC1130 /*{g-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #EA385C /*{g-bup-background-start}*/), to( #B9012F /*{g-bup-background-end}*/));
background-image: -webkit-linear-gradient( #EA385C /*{g-bup-background-start}*/, #B9012F /*{g-bup-background-end}*/);
background-image: -moz-linear-gradient( #EA385C /*{g-bup-background-start}*/, #B9012F /*{g-bup-background-end}*/);
background-image: -ms-linear-gradient( #EA385C /*{g-bup-background-start}*/, #B9012F /*{g-bup-background-end}*/);
background-image: -o-linear-gradient( #EA385C /*{g-bup-background-start}*/, #B9012F /*{g-bup-background-end}*/);
background-image: linear-gradient( #EA385C /*{g-bup-background-start}*/, #B9012F /*{g-bup-background-end}*/);
}

.rb-btn.fb
{
background: #3B5998;
text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #102A67 /*{d-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #4A6BB0 /*{d-bup-background-start}*/), to( #3B5998 /*{d-bup-background-end}*/));
background-image: -webkit-linear-gradient( #4A6BB0 /*{d-bup-background-start}*/, #3B5998 /*{d-bup-background-end}*/);
background-image: -moz-linear-gradient( #4A6BB0 /*{d-bup-background-start}*/, #3B5998 /*{d-bup-background-end}*/);
background-image: -ms-linear-gradient( #4A6BB0 /*{d-bup-background-start}*/, #3B5998 /*{d-bup-background-end}*/);
background-image: -o-linear-gradient( #4A6BB0 /*{d-bup-background-start}*/, #3B5998 /*{d-bup-background-end}*/);
background-image: linear-gradient( #4A6BB0 /*{d-bup-background-start}*/, #3B5998 /*{d-bup-background-end}*/);
}

div.or
{
 font-weight:bold;
 color:#666666;
 font-size:12px;   
 text-transform:uppercase;
 position:relative;
  text-align:center !important;   
 margin-top:12px;
 margin-bottom:12px;
}
#main-body-sub-links{
font-size:11px;
}

/*++++++++++++++++++++++++++++++FORM FIELDS+++++++++++++++++++++++++++*/

span.form-holder {
background: #eeeeee;
padding: 3px 5px;
display: block;
border-radius: 5px;
margin-top: 5px;
margin-bottom: 15px;
-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3) ;
box-shadow: 0px 1px 4px rgba(0, 0, 0, .3) ; 
 -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px ;
border:1px solid #ffffff;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
box-shadow: 0 0 5px #EDEDEF inset;
width:100%;
border: 1px solid #cccccc;
font-weight: bold;
color: #333;
font-size: 14px;
padding: 10px;
text-shadow: none;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f2), to(white));
background: -webkit-linear-gradient(top, white, #f1f1f2);
background: -moz-linear-gradient(top, white, #f1f1f2);
background: -ms-linear-gradient(top, white, #f1f1f2);
background: -o-linear-gradient(top, white, #f1f1f2);
 -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px ;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
display: block;
outline: 0;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus {
	-moz-box-shadow: 0px 0px 2px #2d7bbf;
	-webkit-box-shadow: 0px 0px 2px #2d7bbf ;
	box-shadow: 0px 0px 2px #2d7bbf ;
	border-color:#2d7bbf;	
}

/*++++++++++++++++++++++++++++++LAYOUT+++++++++++++++++++++++++++*/
   
html, body{
 margin: 0;
 padding: 0;
 border: 0;
}
body {
 font-family:Arial,  sans-serif;
 line-height:1.5;
 font-size:16px;
 background: #f1f1f2;
 padding:0px;
 color: #000;
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
 overflow:hidden;
 text-align:center;
}
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
p img { float: left; margin: 0 10px 5px 0; padding: 0; }
img { border: 0; max-width: 100%; }

/*  Main Styles */

#all-container {
margin:0 auto;
height:100%;
width:100%;
max-width:768px;
position:relative;
}
#app-container {
background-color:#ffffff;
    position:absolute;
    z-index:1;
    top:0px; bottom:0px; left:0px;
    width:100%;
    overflow:hidden;
	text-align:left;
    -webkit-transform: translate3d(0px,0px,0px);
}
#tab-container{
background-color:#ffffff;
    position:absolute;
    z-index:1;
    top:0px; bottom:0px; left:0px;
    width:100%;
    overflow:hidden;
	text-align:left;
  -webkit-transform: translate3d(0px,0px,0px);
  -webkit-box-shadow: -2px 0px 4px #00051c;
    -moz-box-shadow: -2px 0px 4px #00051c;
    box-shadow: -2px 0px 4px #00051c;
}



header, footer{
    background-color:transparent;
    padding:0;
    position:absolute;
    z-index:2;
    font-size:12px;
    width:100%;
    text-align:center;
    color:#333333;
    font-weight:bold;
    text-shadow:1px 1px 0 #fff;
    line-height:45px;
}
header{
top:0; left:0;
height:45px;
top:0; left:0;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
-webkit-font-smoothing: antialiased;
background-clip: border-box;
background-repeat: repeat-x;
background-position: center left;
background-size: auto;
color: white;
display: block;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: bold;
margin: 0;
padding: 0;
line-height: 45px;
position: relative;
text-shadow:1px 1px 0 #003668;
background: #2d7bbf;
background-image: -webkit-gradient(linear, left top, left bottom, from( #4987be /*{d-bup-background-start}*/), to( #2a689f /*{d-bup-background-end}*/));
background-image: -webkit-linear-gradient( #4987be /*{d-bup-background-start}*/, #2a689f /*{d-bup-background-end}*/);
background-image: -moz-linear-gradient( #4987be /*{d-bup-background-start}*/, #2a689f /*{d-bup-background-end}*/);
background-image: -ms-linear-gradient( #4987be /*{d-bup-background-start}*/, #2a689f /*{d-bup-background-end}*/);
background-image: -o-linear-gradient( #4987be /*{d-bup-background-start}*/, #2a689f /*{d-bup-background-end}*/);
background-image: linear-gradient( #4987be /*{d-bup-background-start}*/, #2a689f /*{d-bup-background-end}*/);
border-bottom:1px solid #003668;
 -moz-box-shadow:    0px 1px 0px 0px #fff;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
  box-shadow:         0px 1px 0px 0px #fff;
}
header h1{
    margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-shadow:1px 1px 0 #003668;
	font-weight:bold;

}
header h1.hd-logo{
	height:38px;
	width:100%;
background-repeat:no-repeat;
background-position:center center;
-webkit-background-size: 95px 36px ;
-moz-background-size: 95px 36px ;
background-size: 95px 36px ;
background-image: url('../img/nav-bar/logo-95x36.png');
	position:absolute;
	top:4px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
header h1.hd-logo{
background-image: url('../img/nav-bar/logo-95x36@2x.png');
}
}

header a.hd-btn{
position: absolute;
height:45px;
top: 0px;
color: #fff;
padding:0 6px;
line-height: 45px;
text-shadow: 1px 1px 0 #fff;
text-decoration: none;
font-size: 14px;
text-shadow:1px 1px 0 #001638;
text-decoration:none;
background-repeat:no-repeat;
background-position:center center;
}
header a.hd-btn.pill-btn{
width:50px;
-webkit-background-size: 50px 30px ;
-moz-background-size: 50px 30px ;
background-size: 50px 30px ;
}
header a.hd-btn.left-btn{
left: 12px;
padding-left:0;
}
header a.hd-btn.right-btn{
right: 12px;
padding-right:0;
}
header a.hd-btn.pill-btn.left-btn{
left: 8px;
}
header a.hd-btn.pill-btn.right-btn{
right: 8px;
}
.hd-btn-text{
padding:0;
}
header a.hd-btn.btn-you{
background-image: url('../img/nav-bar/nav-you-50x30.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
header a.hd-btn.btn-you{
background-image: url('../img/nav-bar/nav-you-50x30@2x.png');
}
}
header a.hd-btn.btn-create{
background-image: url('../img/nav-bar/nav-create-50x30.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
header a.hd-btn.btn-create{
background-image: url('../img/nav-bar/nav-create-50x30@2x.png');
}
}
header a.hd-btn.btn-about{
background-image: url('../img/nav-bar/nav-about-50x30.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
header a.hd-btn.btn-about{
background-image: url('../img/nav-bar/nav-about-50x30@2x.png');
}
}



div#profile-container {
    position: absolute;
    top:0;left:0;
    width:100%;
	height:100%;
  overflow:hidden;
  z-index:0;
}
#profile.page, .modal.page {
background-color:#ffffff;
    position:absolute;
    z-index:1;
    top:45px; left:0;
    width:100%;
    overflow:auto;
	text-align:left;
}
div.modal-container {
    position: absolute;
	display:none;
	left:0px;
    width:100%;
	height:100%;
  overflow:hidden;
  z-index:900;
  -webkit-transform: translate3d(0px,0px,0px);
    -webkit-box-shadow: 0px -2px 4px #00051c;
    -moz-box-shadow: 0px -2px 4px #00051c;
    box-shadow: 0px -2px 4px #00051c;
	z-index:1000;
}
div.modal-container.slid-up {
   
}
#profile-closer{
display:none;
position:absolute;
top:0;
left:0;
width:48px;
height:100%;
z-index:10;
background-color:transparent;
cursor:pointer;
}
#wrapper {
background-color:#ffffff;
    position:absolute;
    z-index:1;
    top:45px; bottom:48px; left:0;
    width:100%;
    overflow:hidden;
	text-align:left;
}
.scroller.wf {
    position:relative;
	padding:0;
	margin:0;
    z-index:1;
    top:0px; bottom:0px; left:0;
    width:100%;
	height:100%;
    overflow:scroll;
}
.scrollee{
	position:absolute;
    z-index:1;
    width:100%;
    padding:1px 0;
	min-height:100px;
}
#main-content {
	position:absolute;
    z-index:1;
    width:100%;
    padding:0px;
	overflow:hidden;
}
.myScrollbarV {
	position:absolute;
	z-index:100;
	width:4px;bottom:7px;top:2px;right:1px
}

.myScrollbarV > div {
	position:absolute;
	z-index:100;
	width:100%;
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#666), to(#999));
	border:1px solid #555;
	-webkit-background-clip:padding-box;
	-webkit-box-sizing:border-box;
	-webkit-border-radius:4px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}



/*   TAB BAR */
footer {
    bottom:0; left:0;
    height:55px;
    background-color:transparent;
}
footer nav{
display:block;
position:absolute;
bottom:0; left:0;
width:100%;
height:55px;
}
#tab-bar-bg{
display:block;
position:absolute;
bottom:0; left:0;
width:100%;
height:48px;
background-position:center left;
background-color:transparent;
border-top:1px solid #000;
background-image: -webkit-gradient(linear, left top, left bottom, from( #505358 /*{d-bup-background-start}*/), to( #292c31 /*{d-bup-background-end}*/));
background-image: -webkit-linear-gradient( #505358 /*{d-bup-background-start}*/, #292c31 /*{d-bup-background-end}*/);
background-image: -moz-linear-gradient( #505358 /*{d-bup-background-start}*/, #292c31 /*{d-bup-background-end}*/);
background-image: -ms-linear-gradient( #505358 /*{d-bup-background-start}*/, #292c31 /*{d-bup-background-end}*/);
background-image: -o-linear-gradient( #505358 /*{d-bup-background-start}*/, #292c31 /*{d-bup-background-end}*/);
background-image: linear-gradient( #505358 /*{d-bup-background-start}*/, #292c31 /*{d-bup-background-end}*/);
}
#tab-bar{
    margin:0;
    padding:0;
	-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 12px;
background:transparent;
bottom: 0;
height: 55px !important;
overflow: hidden;
position: absolute;
width: 100%;
z-index: 100 !important;
}
#tab-bar li {
height:55px;
    display: inline;
    float:left;
    width: 20%;
position:relative;
}
#tab-bar li:last-child {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}
#tab-bar li span#home-bg{
z-index:102;
display:block;
position:absolute;
bottom:0px;
left:0px;
height:55px;
width:100%;
background-color:#2e7cbf;
background-image: -webkit-gradient(linear, left top, left bottom, from( #2e7cbf /*{d-bup-background-start}*/), to( #4b7da9 /*{d-bup-background-end}*/));
background-image: -webkit-linear-gradient( #2e7cbf /*{d-bup-background-start}*/, #4b7da9 /*{d-bup-background-end}*/);
background-image: -moz-linear-gradient( #2e7cbf /*{d-bup-background-start}*/, #4b7da9 /*{d-bup-background-end}*/);
background-image: -ms-linear-gradient( #2e7cbf /*{d-bup-background-start}*/, #4b7da9 /*{d-bup-background-end}*/);
background-image: -o-linear-gradient( #2e7cbf /*{d-bup-background-start}*/, #4b7da9 /*{d-bup-background-end}*/);
background-image: linear-gradient( #2e7cbf /*{d-bup-background-start}*/, #4b7da9 /*{d-bup-background-end}*/);
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px;
	-moz-box-shadow: 0px 5px 5px #003668, inset 1px 1px 0px 0px #509ee2, inset -1px 0px 0px 0px #509ee2;
-webkit-box-shadow: 0px 5px 5px #003668, inset 1px 1px 0px 0px #509ee2, inset -1px 0px 0px 0px #509ee2;
box-shadow: 0px 5px 5px #003668, inset 1px 1px 0px 0px #509ee2, inset -1px 0px 0px 0px #509ee2;
-webkit-transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -ms-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;

}
#tab-bar li.current span#home-bg{
background-color:#3e94c9;
background-image: -webkit-gradient(linear, left top, left bottom, from( #3e94c9 /*{d-bup-background-start}*/), to( #0e7cbf /*{d-bup-background-end}*/));
background-image: -webkit-linear-gradient( #3e94c9 /*{d-bup-background-start}*/, #0e7cbf /*{d-bup-background-end}*/);
background-image: -moz-linear-gradient( #3e94c9 /*{d-bup-background-start}*/, #0e7cbf /*{d-bup-background-end}*/);
background-image: -ms-linear-gradient( #3e94c9 /*{d-bup-background-start}*/, #0e7cbf /*{d-bup-background-end}*/);
background-image: -o-linear-gradient( #3e94c9 /*{d-bup-background-start}*/, #0e7cbf /*{d-bup-background-end}*/);
background-image: linear-gradient( #3e94c9 /*{d-bup-background-start}*/, #0e7cbf /*{d-bup-background-end}*/);
}

#tab-bar a {
    color: #787878;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
	font-size:12px;
    text-decoration: none;
    -webkit-touch-callout:none;
-webkit-box-flex: 1;
bottom: 0px;
display: inline-block;
height: 48px;
position: absolute;
vertical-align: top;
width: 100%;
text-decoration: none;
opacity:0.8;
	-moz-box-shadow: inset -1px 0 0px #999999;
-webkit-box-shadow: inset -1px 0 0px #999999;
box-shadow: inner -1px 0 0px #999999;
z-index:105;
-webkit-transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -ms-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;
}
#tab-bar li:last-child a, #home-tab a, #events-tab a{
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}
#tab-bar a.current {
background-color: rgba(255, 255, 255, .20);
opacity:1.0;
}
#tab-bar #home-tab a.current {
background-color:transparent;
}
#tab-bar a strong{
bottom: 2px;
left:0px;
color: #f3f3f3;
font: bold 11px "Helvetica Neue", Helvetica;
overflow: hidden;
position: absolute;
text-align: center;
text-overflow: ellipsis;
width: 100%;
-webkit-font-smoothing: antialiased;
text-shadow:none;
}
#tab-bar a.current strong{
color:#fff;
}
#tab-bar a span.icon {
display:block;
margin-top: 0px;
background-color: transparent;
width:30px;
height:30px;
background-repeat:no-repeat;
background-position:center center;
position:absolute;
left:50%;
margin-left:-15px;
top:2px;
-webkit-background-size: 30px 30px ;
-moz-background-size:  30px 30px ;
background-size:  30px 30px ;
}
#tab-bar #home-tab a span.icon {
top:0px;
}
#news-tab a span.icon{
background-image: url('../img/tab-bar/tab-news-30x30.png');
background-image: -webkit-image-set(url('../img/tab-bar/tab-news-30x30.png') 1x, url('../img/tab-bar/tab-news-30x30@2x.png') 2x);
background-image: -moz-image-set(url('../img/tab-bar/tab-news-30x30.png') 1x, url('../img/tab-bar/tab-news-30x30@2x.png') 2x);
background-image: -o-image-set(url('../img/tab-bar/tab-news-30x30.png') 1x, url('../img/tab-bar/tab-news-30x30@2x.png') 2x);
background-image: -ms-image-set(url('../img/tab-bar/tab-news-30x30.png') 1x, url('../img/tab-bar/tab-news-30x30@2x.png') 2x);
background-image: image-set(url('../img/tab-bar/tab-news-30x30.png') 1x, url('../img/tab-bar/tab-news-30x30@2x.png') 2x);
}
#events-tab a span.icon{
background-image: url('../img/tab-bar/tab-events-30x30.png');
background-image: -webkit-image-set(url('../img/tab-bar/tab-events-30x30.png') 1x, url('../img/tab-bar/tab-events-30x30@2x.png') 2x);
background-image: -moz-image-set(url('../img/tab-bar/tab-events-30x30.png') 1x, url('../img/tab-bar/tab-events-30x30@2x.png') 2x);
background-image: -o-image-set(url('../img/tab-bar/tab-events-30x30.png') 1x, url('../img/tab-bar/tab-events-30x30@2x.png') 2x);
background-image: -ms-image-set(url('../img/tab-bar/tab-events-30x30.png') 1x, url('../img/tab-bar/tab-events-30x30@2x.png') 2x);
background-image: image-set(url('../img/tab-bar/tab-events-30x30.png') 1x, url('../img/tab-bar/tab-events-30x30@2x.png') 2x);
}
#home-tab a span.icon{
background-image: url('../img/tab-bar/tab-home-30x30.png');
background-image: -webkit-image-set(url('../img/tab-bar/tab-home-30x30.png') 1x, url('../img/tab-bar/tab-home-30x30@2x.png') 2x);
background-image: -moz-image-set(url('../img/tab-bar/tab-home-30x30.png') 1x, url('../img/tab-bar/tab-home-30x30@2x.png') 2x);
background-image: -o-image-set(url('../img/tab-bar/tab-home-30x30.png') 1x, url('../img/tab-bar/tab-home-30x30@2x.png') 2x);
background-image: -ms-image-set(url('../img/tab-bar/tab-home-30x30.png') 1x, url('../img/tab-bar/tab-home-30x30@2x.png') 2x);
background-image: image-set(url('../img/tab-bar/tab-home-30x30.png') 1x, url('../img/tab-bar/tab-home-30x30@2x.png') 2x);
}
#action-tab a span.icon{
background-image: url('../img/tab-bar/tab-actions-30x30.png');
background-image: -webkit-image-set(url('../img/tab-bar/tab-actions-30x30.png') 1x, url('../img/tab-bar/tab-actions-30x30@2x.png') 2x);
background-image: -moz-image-set(url('../img/tab-bar/tab-actions-30x30.png') 1x, url('../img/tab-bar/tab-actions-30x30@2x.png') 2x);
background-image: -o-image-set(url('../img/tab-bar/tab-actions-30x30.png') 1x, url('../img/tab-bar/tab-actions-30x30@2x.png') 2x);
background-image: -ms-image-set(url('../img/tab-bar/tab-actions-30x30.png') 1x, url('../img/tab-bar/tab-actions-30x30@2x.png') 2x);
background-image: image-set(url('../img/tab-bar/tab-actions-30x30.png') 1x, url('../img/tab-bar/tab-actions-30x30@2x.png') 2x);
}
#bundles-tab a span.icon{
background-image: url('../img/tab-bar/tab-bundles-30x30.png');
background-image: -webkit-image-set(url('../img/tab-bar/tab-bundles-30x30.png') 1x, url('../img/tab-bar/tab-bundles-30x30@2x.png') 2x);
background-image: -moz-image-set(url('../img/tab-bar/tab-bundles-30x30.png') 1x, url('../img/tab-bar/tab-bundles-30x30@2x.png') 2x);
background-image: -o-image-set(url('../img/tab-bar/tab-bundles-30x30.png') 1x, url('../img/tab-bar/tab-bundles-30x30@2x.png') 2x);
background-image: -ms-image-set(url('../img/tab-bar/tab-bundles-30x30.png') 1x, url('../img/tab-bar/tab-bundles-30x30@2x.png') 2x);
background-image: image-set(url('../img/tab-bar/tab-bundles-30x30.png') 1x, url('../img/tab-bar/tab-bundles-30x30@2x.png') 2x);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {

#news-tab a span.icon{background-image:url('../img/tab-bar/tab-news-30x30@2x.png');}
#events-tab a span.icon{background-image:url('../img/tab-bar/tab-events-30x30@2x.png');}
#home-tab a span.icon{background-image:url('../img/tab-bar/tab-home-30x30@2x.png');}
#action-tab a span.icon{background-image:url('../img/tab-bar/tab-actions-30x30@2x.png');}
#bundles-tab a span.icon{background-image:url('../img/tab-bar/tab-bundles-30x30@2x.png');}
}


#pages{
    position:relative;
}

#pages > div.page {
-webkit-transform: translate3d(0px,0px,0px);
background-color:#ffffff;
    position: absolute;
    top:0;left:0;
    width:100%;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  overflow:auto;
  z-index:3;
}
#pages > div.page#wall{
z-index:4;
height:2000px;
background-color:#ffffff;
}
#pages > div.page.current {
    display: block;
	left:0px !important;
	z-index: 5;

}
div.page > h2, div.page > div, div.page > p{
padding:0 12px;
}
div.page > h2{
text-align:center;
background-color:#f1f1f2;
margin:0;
padding:6px;
font-size:12px;
font-weight:bold;
border-bottom:1px solid #eeeeee;
}

#pages > div.page ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;

}
#pages > div.page ul li {
    padding:12px 12px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    background-color:#fafafa;
    font-size:14px;
	cursor:pointer;
}
#pages > div.page#events_old ul li {
    padding:0 12px;
    height:96px;
    line-height:96px;

}
#pages > div ul li:hover {
background-color:#eeeeee;
}

.animate {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 500ms;
}
.fade.in {
    z-index: 5;
}
.fade.out {
    z-index: 0;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
