/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
	font-weight:bold;
}

a:visited {
    color: #00e;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Ryan's custom styles
   ========================================================================== */

   
/* ++++++++++++++++++++BUTTONS++++++++++++++++++ */
.rb-btn
{
 width:100%;  
 -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px ;
-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3) ;
box-shadow: 0px 1px 4px rgba(0, 0, 0, .3) ; 
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
border: 1px solid #F0F0F0;
font-weight: bold;
color: white !important;
text-decoration:none !important;
display: block;
text-align: center;
cursor: pointer;
position: relative;
margin: 20px 0 0;
padding: 0;
background: #5b5b5b;
padding: 12px 0px;
font-size:16px;
}

.rb-btn.green{
text-shadow: 0 1px 0 #136600;
background-image: -webkit-gradient(linear, left top, left bottom, from( #48B201), to( #188100));
background-image: -webkit-linear-gradient( #48B201, #188100);
background-image: -moz-linear-gradient( #48B201, #188100);
background-image: -ms-linear-gradient( #48B201, #188100);
background-image: -o-linear-gradient( #48B201, #188100);
background-image: linear-gradient( #48B201, #188100);
}

.rb-btn.blue{
background: #0053a0 ;
text-shadow: 0 1px 0 #0033a0;
background-image: -webkit-gradient(linear, left top, left bottom, from( #0053a0), to( #0033a0));
background-image: -webkit-linear-gradient( #0053a0, #0033a0);
background-image: -moz-linear-gradient( #0053a0, #0033a0);
background-image: -ms-linear-gradient( #0053a0, #0033a0);
background-image: -o-linear-gradient( #0053a0, #0033a0);
background-image: linear-gradient( #0053a0, #0033a0);
}

.rb-btn.red{
background: #FB6241 /*{e-bhover-background-color}*/;
text-shadow: 0 /*{e-bup-shadow-x}*/ 1px /*{e-bup-shadow-y}*/ 0 /*{e-bup-shadow-radius}*/ #B30511 /*{e-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #FB6241 /*{e-bup-background-start}*/), to( #AD2205 /*{e-bup-background-end}*/));
background-image: -webkit-linear-gradient( #FB6241 /*{e-bup-background-start}*/, #AD2205 /*{e-bup-background-end}*/);
background-image: -moz-linear-gradient( #FB6241 /*{e-bup-background-start}*/, #AD2205 /*{e-bup-background-end}*/);
background-image: -ms-linear-gradient( #FB6241 /*{e-bup-background-start}*/, #AD2205 /*{e-bup-background-end}*/);
background-image: -o-linear-gradient( #FB6241 /*{e-bup-background-start}*/, #AD2205 /*{e-bup-background-end}*/);
background-image: linear-gradient( #FB6241 /*{e-bup-background-start}*/, #AD2205 /*{e-bup-background-end}*/);
}

.rb-btn.maroon{
background: #B9012F /*{g-bup-background-color}*/;
text-shadow: 0 /*{g-bup-shadow-x}*/ 1px /*{g-bup-shadow-y}*/ 0 /*{g-bup-shadow-radius}*/ #AC1130 /*{g-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #EA385C /*{g-bup-background-start}*/), to( #B9012F /*{g-bup-background-end}*/));
background-image: -webkit-linear-gradient( #EA385C /*{g-bup-background-start}*/, #B9012F /*{g-bup-background-end}*/);
background-image: -moz-linear-gradient( #EA385C /*{g-bup-background-start}*/, #B9012F /*{g-bup-background-end}*/);
background-image: -ms-linear-gradient( #EA385C /*{g-bup-background-start}*/, #B9012F /*{g-bup-background-end}*/);
background-image: -o-linear-gradient( #EA385C /*{g-bup-background-start}*/, #B9012F /*{g-bup-background-end}*/);
background-image: linear-gradient( #EA385C /*{g-bup-background-start}*/, #B9012F /*{g-bup-background-end}*/);
}

.rb-btn.fb
{
background: #3B5998;
text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #102A67 /*{d-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #4A6BB0 /*{d-bup-background-start}*/), to( #3B5998 /*{d-bup-background-end}*/));
background-image: -webkit-linear-gradient( #4A6BB0 /*{d-bup-background-start}*/, #3B5998 /*{d-bup-background-end}*/);
background-image: -moz-linear-gradient( #4A6BB0 /*{d-bup-background-start}*/, #3B5998 /*{d-bup-background-end}*/);
background-image: -ms-linear-gradient( #4A6BB0 /*{d-bup-background-start}*/, #3B5998 /*{d-bup-background-end}*/);
background-image: -o-linear-gradient( #4A6BB0 /*{d-bup-background-start}*/, #3B5998 /*{d-bup-background-end}*/);
background-image: linear-gradient( #4A6BB0 /*{d-bup-background-start}*/, #3B5998 /*{d-bup-background-end}*/);
}

div.or
{
 font-weight:bold;
 color:#666666;
 font-size:12px;   
 text-transform:uppercase;
 position:relative;
  text-align:center !important;   
 margin-top:12px;
 margin-bottom:12px;
}
#main-body-sub-links{
font-size:11px;
}

/*++++++++++++++++++++++++++++++FORM FIELDS+++++++++++++++++++++++++++*/

span.form-holder {
background: #eeeeee;
padding: 3px 5px;
display: block;
border-radius: 5px;
margin-top: 5px;
margin-bottom: 15px;
-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3) ;
box-shadow: 0px 1px 4px rgba(0, 0, 0, .3) ; 
 -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px ;
border:1px solid #ffffff;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
box-shadow: 0 0 5px #EDEDEF inset;
width:100%;
border: 1px solid #cccccc;
font-weight: bold;
color: #333;
font-size: 14px;
padding: 10px;
text-shadow: none;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f2), to(white));
background: -webkit-linear-gradient(top, white, #f1f1f2);
background: -moz-linear-gradient(top, white, #f1f1f2);
background: -ms-linear-gradient(top, white, #f1f1f2);
background: -o-linear-gradient(top, white, #f1f1f2);
 -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px ;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
display: block;
outline: 0;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus {
	-moz-box-shadow: 0px 0px 2px #0053a0;
	-webkit-box-shadow: 0px 0px 2px #0053a0 ;
	box-shadow: 0px 0px 2px #0053a0 ;
	border-color:#0053a0;	
}

/*++++++++++++++++++++++++++++++LAYOUT+++++++++++++++++++++++++++*/
   
html, body{
 margin: 0;
 padding: 0;
 border: 0;
}
body {
 font-family:Arial,  sans-serif;
 line-height:1.5;
 font-size:16px;
 background: #f1f1f2;
 padding:0px;
 color: #000;
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
 overflow:hidden;
 text-align:center;
}
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
p img { float: left; margin: 0 10px 5px 0; padding: 0; }
img { border: 0; max-width: 100%; }

/*  Main Styles */

#all-container {
margin:0 auto;
height:100%;
width:100%;
max-width:768px;
position:relative;
}
#app-container {
background-color:#ffffff;
    position:absolute;
    z-index:1;
    top:0px; bottom:0px; left:0px;
    width:100%;
    overflow:hidden;
	text-align:left;
    -webkit-transform: translate3d(0px,0px,0px);
}
#tab-container{
background-color:#ffffff;
    position:absolute;
    z-index:1;
    top:0px; bottom:0px; left:0px;
    width:100%;
    overflow:hidden;
	text-align:left;
	-webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: translate3d(0px,0px,0px);
  -webkit-box-shadow: -2px 0px 4px #00051c;
    -moz-box-shadow: -2px 0px 4px #00051c;
    box-shadow: -2px 0px 4px #00051c;
}


footer {
    bottom:0; left:0;
    height:48px;
    background-color:#ccc;
    border-top:1px solid #eee;
}
header, footer{
    background-color:#ccc;
    padding:0;
    position:absolute;
    z-index:2;
    font-size:12px;
    width:100%;
    text-align:center;
    color:#333333;
    font-weight:bold;
    text-shadow:1px 1px 0 #fff;
    line-height:45px;
}
header{
    top:0; left:0;
    height:45px;
	border-bottom:1px solid #eee;
	    top:0; left:0;
	-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
-webkit-font-smoothing: antialiased;
background-clip: border-box;
background-color: #0053a0;
background-repeat: repeat-x;
background-position: center left;
background-size: auto;
color: white;
display: block;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: bold;
margin: 0;
padding: 0;
line-height: 45px;
position: relative;
text-shadow:1px 1px 0 #003668;
}
header h1{
    margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-shadow:1px 1px 0 #003668;
	font-weight:bold;
}

header a.hd-btn{
position: absolute;
height:45px;
top: 0px;
color: #fff;
padding:0 6px;
line-height: 45px;
text-shadow: 1px 1px 0 #fff;
text-decoration: none;
font-size: 14px;
text-shadow:1px 1px 0 #001638;
text-decoration:none;
}
header a.hd-btn.left-btn{
left: 12px;
padding-left:0;
}
header a.hd-btn.right-btn{
right: 12px;
padding-right:0;
}
.hd-btn-text{
padding:0 6px;
}
div#profile-container {
    position: absolute;
    top:0;left:0;
    width:100%;
	height:100%;
  overflow:hidden;
  z-index:0;
}
#profile.page, .modal.page {
background-color:#ffffff;
    position:absolute;
    z-index:1;
    top:45px; left:0;
    width:100%;
    overflow:auto;
	text-align:left;
}
div.modal-container {
    position: absolute;
    top:105%;left:0;
    width:100%;
	height:100%;
  overflow:hidden;
  z-index:900;
  	-webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: translate3d(0px,0px,0px);
    -webkit-box-shadow: 0px -2px 4px #00051c;
    -moz-box-shadow: 0px -2px 4px #00051c;
    box-shadow: 0px -2px 4px #00051c;
}

#profile-closer{
display:none;
position:absolute;
top:0;
left:0;
width:48px;
height:100%;
z-index:10;
background-color:transparent;
cursor:pointer;
}
#wrapper {
background-color:#ffffff;
    position:absolute;
    z-index:1;
    top:45px; bottom:48px; left:0;
    width:100%;
    overflow:scroll;
	text-align:left;
}
#main-content, .scroller {
	position:absolute;
    z-index:1;
    width:100%;
    padding:1px 0;
}
.myScrollbarV {
	position:absolute;
	z-index:100;
	width:4px;bottom:7px;top:2px;right:1px
}

.myScrollbarV > div {
	position:absolute;
	z-index:100;
	width:100%;

	/* The following is probably what you want to customize */
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#666), to(#999));
	border:1px solid #555;
	-webkit-background-clip:padding-box;
	-webkit-box-sizing:border-box;
	-webkit-border-radius:4px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}
#tab-bar{
    margin:0;
    padding:0;
	-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 12px;
background: -webkit-gradient(linear, left top, left bottom, from(black), to(black), color-stop(.01, black), color-stop(.02, #555), color-stop(.03, #2D2D2D), color-stop(.5, #151515), color-stop(.51, black));
bottom: 0;
border-top: 1px rgba(255, 255, 255, 0.3) solid;
height: 48px !important;
overflow: hidden;
position: absolute;
width: 100%;
z-index: 100 !important;
}
#tab-bar li {
    display: inline;
    float:left;
    width: 20%;
	
}
#tab-bar a {
    color: #787878;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
	font-size:12px;
    text-decoration: none;
    -webkit-touch-callout:none;
-webkit-box-flex: 1;
border-radius: .60em;
bottom: 0px;
display: inline-block;
height: 48px;
position: relative;
top: 0;
vertical-align: top;
width: 100%;
text-decoration: none;
max-width:96px;
}
#tab-bar a.current {
background-color: rgba(255, 255, 255, .10);
}
#tab-bar a strong{
bottom: 2px;
left:0px;
color: #787878;
font: bold 11px "Helvetica Neue", Helvetica;
overflow: hidden;
position: absolute;
text-align: center;
text-overflow: ellipsis;
width: 100%;
-webkit-font-smoothing: antialiased;
text-shadow:none;
}
#tab-bar a.current strong{
color:#fff;
}
#tab-bar a span.icon {
display:block;
margin-top: 2px;
background-color: transparent;
width: 100%;
height: 100%;
width:24px;
height:24px;
background-repeat:no-repeat;
background-position:center center;
position:absolute;
left:50%;
margin-left:-12px;
top:2px;
-webkit-background-size: 24px 24px ;

-moz-background-size: 24px 24px ;

background-size: 24px 24px ;
}
#news-tab a span.icon{
background-image: url('../img/tab-bar/rss_24.png');
background-image: -webkit-image-set(url('../img/tab-bar/rss_24.png') 1x, url('../img/tab-bar/rss_48.png') 2x);
background-image: -moz-image-set(url('../img/tab-bar/rss_24.png') 1x, url('../img/tab-bar/rss_48.png') 2x);
background-image: -o-image-set(url('../img/tab-bar/rss_24.png') 1x, url('../img/tab-bar/rss_48.png') 2x);
background-image: -ms-image-set(url('../img/tab-bar/rss_24.png') 1x, url('../img/tab-bar/rss_48.png') 2x);
background-image: image-set(url('../img/tab-bar/rss_24.png') 1x, url('../img/tab-bar/rss_48.png') 2x);
}
#events-tab a span.icon{
background-image: url('../img/tab-bar/calendar_24.png');
background-image: -webkit-image-set(url('../img/tab-bar/calendar_24.png') 1x, url('../img/tab-bar/calendar_48.png') 2x);
background-image: -moz-image-set(url('../img/tab-bar/calendar_24.png') 1x, url('../img/tab-bar/calendar_48.png') 2x);
background-image: -o-image-set(url('../img/tab-bar/calendar_24.png') 1x, url('../img/tab-bar/calendar_48.png') 2x);
background-image: -ms-image-set(url('../img/tab-bar/calendar_24.png') 1x, url('../img/tab-bar/calendar_48.png') 2x);
background-image: image-set(url('../img/tab-bar/calendar_24.png') 1x, url('../img/tab-bar/calendar_48.png') 2x);
}
#home-tab a span.icon{
background-image: url('../img/tab-bar/home_24.png');
background-image: -webkit-image-set(url('../img/tab-bar/home_24.png') 1x, url('../img/tab-bar/home_48.png') 2x);
background-image: -moz-image-set(url('../img/tab-bar/home_24.png') 1x, url('../img/tab-bar/home_48.png') 2x);
background-image: -o-image-set(url('../img/tab-bar/home_24.png') 1x, url('../img/tab-bar/home_48.png') 2x);
background-image: -ms-image-set(url('../img/tab-bar/home_24.png') 1x, url('../img/tab-bar/home_48.png') 2x);
background-image: image-set(url('../img/tab-bar/home_24.png') 1x, url('../img/tab-bar/home_48.png') 2x);
}
#action-tab a span.icon{
background-image: url('../img/tab-bar/star_24.png');
background-image: -webkit-image-set(url('../img/tab-bar/star_24.png') 1x, url('../img/tab-bar/star_48.png') 2x);
background-image: -moz-image-set(url('../img/tab-bar/star_24.png') 1x, url('../img/tab-bar/star_48.png') 2x);
background-image: -o-image-set(url('../img/tab-bar/star_24.png') 1x, url('../img/tab-bar/star_48.png') 2x);
background-image: -ms-image-set(url('../img/tab-bar/star_24.png') 1x, url('../img/tab-bar/star_48.png') 2x);
background-image: image-set(url('../img/tab-bar/star_24.png') 1x, url('../img/tab-bar/star_48.png') 2x);
}
#donate-tab a span.icon{
background-image: url('../img/tab-bar/checkmark_24.png');
background-image: -webkit-image-set(url('../img/tab-bar/checkmark_24.png') 1x, url('../img/tab-bar/checkmark_48.png') 2x);
background-image: -moz-image-set(url('../img/tab-bar/checkmark_24.png') 1x, url('../img/tab-bar/checkmark_48.png') 2x);
background-image: -o-image-set(url('../img/tab-bar/checkmark_24.png') 1x, url('../img/tab-bar/checkmark_48.png') 2x);
background-image: -ms-image-set(url('../img/tab-bar/checkmark_24.png') 1x, url('../img/tab-bar/checkmark_48.png') 2x);
background-image: image-set(url('../img/tab-bar/checkmark_24.png') 1x, url('../img/tab-bar/checkmark_48.png') 2x);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {

#news-tab a span.icon{background-image:url('../img/tab-bar/rss_48.png');}
#events-tab a span.icon{background-image:url('../img/tab-bar/calendar_48.png');}
#home-tab a span.icon{background-image:url('../img/tab-bar/home_48.png');}
#action-tab a span.icon{background-image:url('../img/tab-bar/star_48.png');}
#donate-tab a span.icon{background-image:url('../img/tab-bar/checkmark_48.png');}
}


#pages{
    position:relative;
}

#pages > div.page {
display: none;
-webkit-transform: translate3d(0px,0px,0px);
background-color:#ffffff;
    position: absolute;
    top:0;left:0;
    width:100%;
		-webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  overflow:auto;
}
#pages > div.page.current {
    display: block;
	left:0px !important;
	z-index: 5;

}
div.page > h2, div.page > div, div.page > p{
padding:0 12px;
}
div.page > h2{
text-align:center;
background-color:#f1f1f2;
margin:0;
padding:6px;
font-size:12px;
font-weight:bold;
border-bottom:1px solid #eeeeee;
}

#pages > div.page ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;

}
#pages > div.page ul li {
    padding:12px 12px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    background-color:#fafafa;
    font-size:14px;
	cursor:pointer;
}
#pages > div.page#events_old ul li {
    padding:0 12px;
    height:96px;
    line-height:96px;

}
#pages > div ul li:hover {
background-color:#eeeeee;
}

.animate {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 500ms;
}
.fade.in {
    z-index: 5;
}
.fade.out {
    z-index: 0;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
